.button {
    background: #ff5e62;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 0 #d84347;
    transition: 0.2s;
    margin: 10px;
}

.button:active {
    box-shadow: none;
    transform: translateY(4px);
}